/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px; 
  border: none;
  outline: none;
  color: 000000;
  padding: 14px 16px;
  background-color: #ddd;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 
 .h1  { 
 font-size: 40pt;
 color: white;
 border: black;
 font-family: Time New Roman, Times, Serif;
 text-decoration-line: underline;
 text-decoration-style: wavy;
 text-decoration-color: black;
 -webkit-text-stroke-width: 3px;
 -webkit-text-stroke-color: black;  
 background-color:rgba(21,80,72,.8);}
 }
 
 #img {border: 7px solid black;}
 #d {
  background-color:rgba(97,83,83,.8);
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif ;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;}
   
  

